/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a simple background and font */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Main container for centering content */
.App {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Header styling */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #a0594e;
}

h3 {
  margin-bottom: 15px; /* Add margin below the sub-header */
}

p {
  margin-bottom: 10px; /* Add margin below each paragraph */
  line-height: 1.6; /* Increase line height for better readability */
}

i {
  font-style: italic;
}

/* Label styling */
label {
  font-size: 1.1rem;
  color: #555;
  margin-right: 10px;
}

/* Input styling */
input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 100px);
}

/* Button styling */
button {
  padding: 10px 20px;
  background-color: #a0594e;
  margin-top: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #77372d;
}

/* List styling */
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #fafafa;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li strong {
  color: #a0594e;
  font-size: 1.2rem;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .App {
    width: 90%;
  }

  input[type="text"], select {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
